stbotz # Don't Laugh 😂 And Don't remove (Remove mat karana Varn forcesub work nahi karega))
Pyrogram==1.2.9
TgCrypto==1.2.2
youtube_dl
youtube_search_python
youtube_search
requests
ffmpeg-python
motor
aiofile
dnspython
pymongo
lyricsgenius
wget
yt_dlp
aiofiles

